nav ul li{
display: inline;
}
.intro {
    font-style: oblique;
    font-size: 25px;
}
h1 {
    color: firebrick;
    font-style: inherit;
    background-color: darkturquoise;
    margin-left: 50px;
    border-style: ridge;
    border-width: 10px;
    border-color: darkred;
    border-right-style: dotted;
    border-radius: 10px;
}
body {
    background-image: url("https://images.idgesg.net/images/article/2017/05/coding_development_data_macbook_pro_laptop_thinkstock_627045246-100724496-large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: coral;}
    img{
        float: right;
    } 
.test-box {
    padding: 30px 20px 60px 30px;
    border: 2px darkgreen;
    background-color: pink;
}
.first {
    color: darkorange;
}
.second {
    color: maroon;
}
.different {
    color: brown;
}