nav ul li{
display: inline;
}
.intro {
    font-style: oblique;
    font-size: 25px;
}
h1 {
    color: firebrick;
    font-style: inherit;
    background-color: darkturquoise;
    margin-left: 50px;
    border-style: ridge;
    border-width: 10px;
    border-color: darkred;
    border-right-style: dotted;
    border-radius: 10px;
}
body {
    background-color: coral;}
    img{
        float: right;
    } 
.test-box {
    padding: 30px 20px 60px 30px;
    border: 2px darkgreen;
    background-color: pink;
}
