.intro {
    font-style: oblique;
    font-size: 25px;
}
h1 {
    color: firebrick;
    font-style: inherit;
    background-color: black;
    margin-left: 50px;
}
body {
    background-color: coral;
}
h1 {
    border-style: ridge;
    border-width: 10px;
    border-color: darkred;
    border-left-style: dotted;
    border-radius: 10px;
}